
.picture-background-animal{
background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../img/animals-img/animal.jpeg");
background-position:center;
background-size:cover;
}




.main-home-nav-animal{
   background-color: rgba(39, 174, 96, 0.50);
}

.main-home-nav-animal:after,
.main-home-nav-animal:before{
    background-color: rgba(39, 174, 96, 0.50);
}


